  <mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>Akash Chepe</mat-card-title>
        <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
        <mat-card-subtitle>
            Contact: +918087203387<br>
            Email: akachepe@gmail.com
        </mat-card-subtitle>
      <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            Hi there,<br>
            I am Akash Chepe. Currently, I am working with Cognizant Technology Solutions, India as a Sr. Associate Projects. 
            I have worked in the different domains such as Banking and finance, E-learning, and Health-care.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="Professional Summary">
        <div class="container text-left pt-3">
            <div class="row">
              <div class="col">
                9.5 years of experience in web application development using Angular, JavaScript, TypeScript, HTML, CSS and MySQL.
                <ul>
                    <li>Experience Working on Agile Teams and using Application Lifecycle Management tools like JIRA, Confluence.</li>
                    <li>Developed user-friendly web applications, worked on web application performance optimization.</li>
                    <li>Knowledge of modern authorization mechanisms, such as JSON Web Token. • Testing API using Postman tool.</li>
                    <li>Application Security Testing: Experience using Burp Suite tool on web application for penetration testing.</li>
                </ul>
              </div>
            </div>
          </div>
    </mat-tab>
    <mat-tab label="Professional Experience">
        <div class="container text-left pt-3">
            <div class="row">
              <div class="col">
                <h1>Cognizant Technology Solutions</h1>
                Jan 2018 - Present
                Sr. Associate Projects
                <h2>Roles & Responsibilities:</h2>
                <ul>
                    <li>Currently, I am working on European Money Market Institute project (BFS domain) and my responsibility is to manage the delivery and development of planned JIRA stories and deployment of project</li>
                    <li>Client facing role, requirement gathering and production support</li>
                    <li>Deploying the application on multiple environments</li>
                    <li>Creating and maintaining FRS on Confluence, SOP, JIRA stories, sub-tasks</li>
                    <li>Working with other developers to ensure that the application is working as per the requirement</li>
                    <li>Performing basic sanity after each deployment.</li>
                </ul>
                <h2>Module Worked:</h2>
                <ul>
                    <li>Login, User Admin, Reports, Audit Log</li>
                </ul>
                <h2>Technology:</h2>
                <ul>
                    <li>AWS Cloud, Angular 6, HTML, CSS, JavaScript, Typescript</li>
                </ul>
                <h2>Web Development Tool</h2>
                <ul>
                    <li>MS Visual Studio Code, Postman, Burp Suite, Putty, MySQL, Git, JIRA and Confluence, Workbench.</li>
                </ul>
              </div>
            </div>
          </div>
    </mat-tab>
    <mat-tab label="Education"> Education </mat-tab>
    <mat-tab label="Extra Curriculum Activities"> Extra Curriculum Activities </mat-tab>
    <mat-tab label="Personal Information"> Personal Information </mat-tab>
  </mat-tab-group>



