.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .login-btn {
    width: 100%;
  }
  
  .flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }

  /* .grid {
    display: grid;
    place-items: center;
  } */